@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');

body{
  margin-left: 12vw;
  margin-right: 12vw;
  background-image: url(stray_child.jpg);
  background-size: 100vw 100vh;
  background-attachment: fixed;
  color: white;
  font-family: "Comfortaa";
}

h1{
  text-align: center;
  text-decoration: underline;
}

h2{
  text-align: center;
}

a{
  color: white;
}

.main{
}

.sec{
  font-family: "Cinzel";
  font-size: 120px;
  color: white;
  display: none;
}

.sec>p{
  text-align: center;
}

.bttn{
  border-radius: 5px;
  font-size: 17px;
  font-family: "Comfortaa";
  padding: 10px 10px;
  background-color: rgb(250, 250, 250);
}
